{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}
<div class="container container-fluid mb-4">
<h2 class="page-header mt-4"> Edit Equipment </h2>
<br>
    {{ include('rental/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('rental_index') }}">back to list</a>

    {{ include('rental/_delete_form.html.twig') }}
</div>
{% endblock %}
